
<h3>-You
</h3>
<%= @message %>

<div class="container-sm p-3 my-3 bg-dark text-white">
<h3>-Your coach
</h3>
<%= @answer %>
</div>
<body>

<br>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
<body>
